/*common style*/
html,body{
	height: 100%;
	font-family: serif,SimSun;
}

	/*background-color*/

.bg-red {
	background-color: red;
}
.bg-black {
	background-color: #323232;
}
.bg-orange {
	background-color: #E9724C;
}
.bg-yellow { 
	background-color: #E3AE57;
}
.bg-white {
	background-color: #F2F2F2;
}
	/*font color design*/
.color-white {
	color: white;
}
.color-black {
	color: black;
}
	/*box's padding and margin design*/





/*Rewrite bootstrap's style*/
.row {
	overflow: hidden;
}
.modal-footer {
	text-align: center !important;
}
.navbar {
	border-radius: 0px !important;
}



/* style design*/
#basicInfo,#aboutMe,#bginfo,#skills,#works,#contact{
	position: relative;
	margin-bottom: 2px;
}

#aboutMe .about-thumb,
#aboutMe .wish-thumb,
#bginfo .education-thumb,
#bginfo .experience-thumb,
#skill .skill-thumb {
	padding: 20px 35px 20px 35px;
}



#aboutMe .col-md-6,#aboutMe .col-sm-6,
#bginfo .col-md-6,#bginfo .col-sm-12,
#contact .col-md-6,#contact .col-sm-12
{
	/*padding: 0;*/
}

.screen-title-line {
	border-top: 1px solid #d5dfe7;
	padding-top: 20px;
	width: 160px;
}
.s2-title-line,
.s4-title-line,
.s5-title-line {
	margin: 20px auto;
}


.content-title {
	margin-bottom: 35px;
}
.content-title > h2 {
	font-size: 40px;
	font-weight: bolder;
}

#basicInfo:before,
#aboutMe:before,
#skills:before,
#bginfo:before,
#works:before,
#contact:before{
	display: table;
	content: " ";
}

/*section:topbar*/
.top-navbar .navbar-brand {
	color:white;
	font-size: 24px;
	font-weight: 700;
}
.top-navbar .navbar-brand:hover {
	opacity: .65;
}
.nav > li > a:focus,
.nav > li > a:hover {
	background-color: transparent !important;
}
.navbar-menu a {
	font-size: 18px;
	color: white;
}
.navbar-menu a:hover {
	opacity: .65;
}

/*section: header*/
#head{
	height: 100%; /* 500% */
	background-color: white;
}
#header:before{
	display: tabel;
	height: 0;
}
.header-wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:200px auto auto auto;
}
.myimg>img{
	/*box-sizing: border-box;*/
	max-width: 200px;
	
	border:1px solid black;
	border-radius: 50%;
	overflow: hidden;

}

.otherinfo{
	color: black;
}
.otherinfo h2{
	font-size: 36px;
	font-weight: bolder;
}
.otherinfo p{
	font-size: 20px;
	font-weight: bolder;
	margin-top: 20px;
}
.topnav{
	text-align: center;
	margin-top: 20px;
}
.topnav .nav-item{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
}

.topnav .nav-item>i{
	color: white;
	font-size: 36px;

	position: absolute;
	top: 10px;
	left: 10px;
}
.topnav .nav-item>span{
	display: none;
}
.topnav .nav-item:hover>i{
	color: red;
	transform: scale(1.4);
	transition: all 1.5s;
}

.down-profile{
	margin-top: 20px;
}
.down-profile a{
	display: inline-block;
	padding: 10px 30px;
	border:2px solid black;
	border-radius: 10px;
	font-size: 16px;
	color: black;
}
.down-profile a:hover{
	background-color: gray;
	border-color: gray;
	text-decoration: none;
}


/*background picture style*/
.background-img {
	width: 100%;
	
	min-height: 75vh;
	
	background-position: 50% 50% !important;
	background-size:cover !important;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}
.about-img {
	background-image: url(../resource/avatar.jpg);
}
.education-img {
	background-image: url(../resource/education.jpg);
}

.experience-img {
	background-image: url(../resource/work.jpg);
}

/*section:about me*/

.section-title {
	margin: 20px auto;
}
.section-title > h2 {
	color: black;
	font-size: 40px;
	font-weight: bolder;
}
@media screen and (max-width: 767px) {
	.section-title > h2,
	.section-title > h4 {
		text-align: center;
	}
}
/*section: skills*/
/*圆环形技能进度条*/
.skill-panel .circle {
	margin-right: auto;
	margin-left: auto;
}
.skill-tip {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 20px;
}
.circle{
	width: 200px;
	height: 200px;
	position: relative;
	border-radius: 50%;
	background-color: #0cc;
}
.pie_left,.pie_right{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

.right,.left{
	display: block;
	width: 200px;
	height:200px;
	background-color: #00aacc;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.pie_right,.right{
	clip:rect(0, auto, auto, 100px);
}
.pie_left,.left{
	clip: rect(0, 100px, auto, 0);
}

.mark{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	left: 25px;
	top: 25px;
	background-color: #fff;
	position: absolute;
	text-align: center;
	line-height: 150px;
	font-size: 16px;
}
.skill-panel > .skill-tip {
	margin-bottom: 30px;
}



/*section:background*/
.background-thumb {
	padding: 35px 40px 35px 40px;
}
#bginfo .media {
	margin-left: 15px;
}
.media-left .media-object {
	font-size: 24px;
	line-height: 24px;
	margin-right: 15px;
}
.media-body h3 {
	font-weight: 800;
}
.media-body small {
	color: black;
	font-weight: 600;
}
.media-body p {
	margin-top: 15px;
}
@media screen and (max-width: 767px) {
	.education-thumb > .media,
	.experience-thumb > .media, {
		margin-left: 30px;
	}
	.education-thumb > .screen-title-line,
	.experience-thumb > .screen-title-line {
		margin-left: auto;
		margin-right: auto;
	}
}

/*section: works and project*/
#works{
	background-color: ;
	background-attachment: scroll;
	background-size: cover;
}
#works .sec-title{
	color: white;
}
.demo{
	position: relative;
	margin-top: 20px;
	cursor: pointer;
}

.demo>.scanView{
	width: 100%;
	max-height: 150px;
	overflow: hidden;
}
.scanView>img {

}
.demo>p{
	width: 100%;
	height: 50px;
	color: black;
	background-color: white;
}
.demo:hover>p{
	background-color: #0cc;
}
/*section: contact methods*/
.contactMethods {
	margin-left: auto;
	margin-right: auto;
}
.contact-methods {
	margin:10px auto;
}
.contact-methods ul {
	list-style: none;
}
.contact-methods li {
	margin-bottom: 20px;
	margin-top: 15px;
	
	font-size: 20px;

}
.twoCode {
	width: 200px;
	height: 200px;

	margin:20px auto 30px auto;
}
/*section: footer copyright*/

#foot {
	padding:10px 0;
	color: black;
	font-size: 16px;
	font-family: "微软雅黑";
	border-top: 1px solid #eee;
}




